/***************************************************************\
|                          font styles                          |
\***************************************************************/

@font-face {
	font-family: 'Marcellus';
	src: url('Marcellus-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}